.navEvent-container {
  background-color: #ff8c00; /* Dark orange */
  padding: 10px;
}

.navEvent-container .home-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navEvent-container .home-ll {
  padding: 10px 20px;
}

.navEvent-container .home-ll a {
  text-decoration: none;
  color: #fff5e6; /* Light orange shade for text */
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px 16px;
  border-radius: 5px;
}

.navEvent-container .home-ll a:hover {
  background-color: #ffa54f; /* Lighter orange on hover */
  color: white;
}
